:root {
    --dark-bg: #964d22;
    --light-bg: #eedc97;
    --hl-bg: #ff4d22;
    --selected-bg: #ddc932;
    --light-coords: #eee;
    --dark-coords: #000;
}

body {
    margin: 0px;
    padding: 0px;
}

.chess-container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.chess-board {
    width: 40%;
    height: 40%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, 1fr); 
}

.chess-rank {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
}

.chess-square{
    text-align: center;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding: auto auto;
}

.chess-square.dark{
    background-color: var(--dark-bg);
    color: var(--dark-coords);
}

.chess-square.light{
    background-color: var(--light-bg);
    color: var(--light-coords);
}

.chess-square.hl {
    background-color: var(--hl-bg);
}

.chess-square.selected {
    background-color: var(--selected-bg);
}

.chess-square .piece-icon {
    height: 100%;
    width: 100%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
